/* common styles star */
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    color: #FFFFFF;
    font-size: 64px;
    line-height: 80px;
}
p{
    font-size: 16px;
    font-weight: normal;
}
/* common styles end */

/* top section styles start */

.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:
    #2D25A0;
    width: 1440px;
    height: 677px;
    margin-bottom: 35px;
}

.copa-contains{
    margin-right: 102px ;
}
.watch-button button{
    color: #FFFFFF;
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
}
.watch-button button:hover{
    background-color: #f34814;
}
.copa-img img{
    width: 556.01px;
    height: 438px;
}
/* top section styles end */

/* middle section styles start */
.middle-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 50px;
    margin-right: 50px;
}
.player-img img{
    width: 300px;
    height: 256px;
}
.player-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 27px 30px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-detail{
    display: flex;
    flex-wrap: wrap;
}
/* middle section styles end */